// // Typography
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

// Font
$font-family: 'Kaisei HarunoUmi', serif;

// Colors

$color: (
  white: rgba(238, 243, 239),
  yellow: rgba(250, 179, 11, 255),
  black: rgba(0, 0, 0),
);
