@use './loader' as *;
@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  .container {
    background-color: map-get($color, black);
    .modal {
      z-index: 1;
      display: none;
      padding-top: 10px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9);
      .close {
        text-decoration: none;
        float: right;
        font-size: 25px;
        font-weight: bold;
        color: white;
        &:hover {
          cursor: pointer;
        }
        @media only screen and (min-width: 768px) {
          font-size: 40px;
        }
        @media only screen and (min-width: 1440px) {
          font-size: 55px;
        }
      }
      .modalImg {
        height: 40%;
        margin: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media only screen and (min-width: 768px) {
          height: 75%;
        }
      }
    }
    .block {
      display: block;
    }
    header {
      display: flex;
      padding: 5px;
      justify-content: space-between;
      .logoBox {
        display: flex;
        flex-direction: column;
        .logo {
          height: 70px;
          width: 70px;
          @media only screen and (min-width: 1024px) {
            height: 100px;
            width: 100px;
          }
        }
        span {
          font-size: 10px;
          color: map-get($color, white);
          text-transform: uppercase;
          @media only screen and (min-width: 1024px) {
            font-size: 13px;
          }
        }
      }
      .gridButtons {
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 767px) {
          display: none;
        }
        button {
          img {
            height: 35px;
            width: 35px;
            margin: 2px 2px 0px 2px;
            @media only screen and (min-width: 1024px) {
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
    .photoBox {
      position: relative;
      display: grid;
      padding: 0px 5px 5px 5px;
      .imgDiv {
        position: relative;
        .imgInfo {
          z-index: 100;
          position: absolute;
          border-bottom: 1px solid map-get($color, black);
          padding: 2px;
          width: 100%;
          color: map-get($color, white);
          background-color: rgba(50, 50, 50, 0.5);
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 0.2fr 0.8fr 2fr;
          grid-template-rows: 1fr;
          column-gap: 5px;
          grid-template-areas:
            'avatar info socialMedia'
            'portfolio portfolio portfolio';
          font-size: 10px;
          i {
            color: map-get($color, black);
          }
          a {
            text-decoration: none;
            color: map-get($color, white);
            cursor: pointer;
          }
          .avatar {
            grid-area: avatar;
            justify-self: center;
            img {
              border-radius: 50%;
              width: 45px;
              height: 45px;
              @media only screen and (min-width: 1024px) {
                width: 100px;
                height: 100px;
              }
            }
          }
          .info {
            grid-area: info;
            @media only screen and (min-width: 1024px) {
              font-size: 18px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 22px;
            }
          }
          .socialMedia {
            grid-area: socialMedia;
            justify-self: flex-end;
            text-align: right;
            @media only screen and (min-width: 1024px) {
              font-size: 18px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 22px;
            }
          }
          .portfolio {
            grid-area: portfolio;
            justify-self: flex-end;
            margin-top: -15px;
            @media only screen and (min-width: 1024px) {
              font-size: 18px;
              margin-top: -27px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 20px;
            }
          }
        }
        .gridLayout {
          display: grid;
        }
        .image {
          width: 100%;
          @media only screen and (min-width: 1024px) {
            &:hover {
              cursor: pointer;
              opacity: 30%;
            }
          }
        }
      }
    }
  }
}

.gridLayout {
  .container {
    .photoBox {
      @media only screen and (min-width: 768px) {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
      @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .imgDiv {
        display: flex;
        .imgInfo {
          grid-template-columns: 0.2fr 1.2fr 1fr;
          column-gap: 0px;
          @media screen and (min-width: 1024px) {
            grid-template-columns: 0.2fr 1.4fr 1fr;
          }
          @media only screen and (min-width: 1440px) {
            font-size: 13px;
          }
          .avatar {
            display: flex;
            img {
              @media only screen and (min-width: 1024px) {
                width: 60px;
                height: 60px;
              }
              @media only screen and (min-width: 1024px) {
                width: 70px;
                height: 70px;
              }
            }
          }
          .info {
            margin-left: 3px;
            @media only screen and (min-width: 1024px) {
              font-size: 10px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 18px;
            }
          }
          .socialMedia {
            @media only screen and (min-width: 1024px) {
              font-size: 11px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 15px;
            }
          }
          .portfolio {
            @media only screen and (min-width: 1024px) {
              font-size: 10px;
              margin-top: -15px;
            }
            @media only screen and (min-width: 1440px) {
              font-size: 15px;
            }
          }
          i {
            color: map-get($color, white);
          }
        }
        img {
          align-self: center;
          @media only screen and (min-width: 1024px) {
            &:hover {
              opacity: 40%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
